[Unit]
Description=tomcat 9
After=network.target syslog.target

[Service]
Type=forking
Environment="JAVA_HOME=/usr/local/jdk-15"
Environment="CATALINA_HOME=/usr/local/tomcat"
User=root
Group=root
ExecStart=/usr/local/tomcat/bin/startup.sh
ExecStop=/usr/local/tomcat/bin/shutdown.sh

[Install]
WantedBy=multi-user.target